@import "tailwindcss";

@theme {
  --color-main-text: #ffffff;
  --color-section-bg: #1a1e23;
  --color-main-dark-text: #171717;
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-header: #1a1e23;
  --color-button-text: #171717;
  --color-button-signin: #0056d2;
  --color-button-signin-hover: #0047b2;
  --color-button-signin-active: #003c9e;
  --color-footer: #1a1e23;
  --color-footer-text: #ffffff;
  --color-menu-text: #ffffff;
  --color-menu: #1a1e23;
  --color-flipped-card-bg: #f0f8ff;
  --color-flipped-card-backside-bg: #1a1e23;

  --color-scrollbar: #0056d2;
  --color-scrollbar-hover: #0047b2;

  --color-section-text: #ffffff;
}

html {
  scrollbar-gutter: stable;
}

body {
  color: var(--color-main-text);
  background: var(--color-section-bg);
  scroll-behavior: smooth;
  overscroll-behavior: none;
  font-family: var(--font-poppins), sans-serif;
}

body .slick-prev::before,
body .slick-next::before {
  content: none;
}

.custom-scroll::-webkit-scrollbar {
  height: 6px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar);
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scrollbar-hover);
}
