@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-main-text: #ffffff;
  --color-section-bg: #1a1e23;
  --color-main-dark-text: #171717;
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-header: #1a1e23;
  --color-button-text: #171717;
  --color-button-signin: #0056d2;
  --color-button-signin-hover: #0047b2;
  --color-button-signin-active: #003c9e;
  --color-footer: #1a1e23;
  --color-footer-text: #ffffff;
  --color-menu-text: #ffffff;
  --color-menu: #1a1e23;
  --color-flipped-card-bg: #f0f8ff;
  --color-flipped-card-backside-bg: #1a1e23;

  --color-scrollbar: #0056d2;
  --color-scrollbar-hover: #0047b2;

  --color-section-text: #ffffff;
}

html {
  scrollbar-gutter: stable;
}

body {
  background: var(--color-section-bg);
  color: var(--color-main-text);
  overscroll-behavior: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body .slick-prev::before,
body .slick-next::before {
  content: none;
}

.custom-scroll::-webkit-scrollbar {
  height: 6px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar);
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scrollbar-hover);
}
